.cell {
	background-color: #eee;
	height: 50px;
	width: 50px;
	font-weight: 700;
}
.filled {
	background-color: var(--secondary);
}
.selected {
	background-color: var(--primary);
}
.incorrect {
	background-color: var(--accent-muted);
}
.related-to-selected {
	background-color: var(--primary-ultrasoft);
}
.incorrect.related-to-selected {
	background-color: var(--accent-soft);
}
.completed {
	background-color: var(--secondary);
}
.filled.selected,
.completed.selected {
	background-color: var(--secondary-muted);
	color: var(--text-light);
}
