dialog#game-over {
	top: 25%;
	min-width: min(100%, 800px);

	h2 {
		margin-top: 0;
	}

	p#victory-flex {
		font-size: 2rem;
		margin: 0;
	}

	span#errors {
		color: orangered;
	}

	div#game-over-actions {
		display: flex;
		justify-content: center;
		gap: 5px;
		margin: 1rem 0;
	}
}
